/*Global Styles*/

$font: 'Josefin Sans';

$primary_color: rgb(240, 156, 155);

$text-color: rosybrown;



/* Desktop Stylesheet*/

@media only screen and (min-width: 550px) {
    
   html, body{
        height: 707.667px !important;
        min-height: 707.667px !important;
    }

    body{
        background-image: url(images/bg-pattern-desktop.svg);
    }
    .nav{
        width: 60%;
        margin-left: 8%;
        .logo{
            width: 15%;
            height: 100% !important;
            margin-top: 5%;
            margin-left: 0px;
            background-color: rgba(0, 0, 0, 0);
        }
        background-color: rgba(0, 0, 0, 0);
    }

    .coming_soon{
        width: 52%;
        text-align: left !important;
        margin-left: 8%;
        font-size: 37px !important;
        background-color: rgba(0, 0, 0, 0);
        .heading_unique{
            color: $text-color;
        }
    }

    form{
        width: 38%;
        margin-left: 8% !important;
        margin-right: 0px;
        background-color: rgba(0, 0, 0, 0);
    }

    .hero_desktop{
        
        position: absolute;
        right: 0px;
        top: 0px;
        width: 40%;
        height: max-content;
        
    }

    P{
        margin-left: 8% !important;
        margin-right: 0% !important;
        text-align: left !important;
        width: 35%;
        background-color: rgba(0, 0, 0, 0);
    }

    h1{
        background-color: rgba(0, 0, 0, 0) !important;
    }

}


*{
    font-family: $font;
    box-sizing: border-box;
   
}

html, body{
    height: 100%;
    min-height: 100%;
    margin: 0%;
}

/* Mobile-First Stylesheet */

    
img{
    background-color: rgba(0, 0, 0, 0);
}

.hero_mobile{
    object-fit: fill;
    width: 100%;
}

.nav{
    
    display: flex;
    height: 9%;
    justify-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0);

}

.logo{
   
width: 29%;
height: 30%;
margin-top: auto;
margin-bottom: auto;
margin-left: 6%;
    
}

.coming_soon{
    
    letter-spacing: 0.117em;
    font-size: large;
    text-align: center;
    font-weight: 100;
    font-size: 30px;
    .heading_unique{
        color: $primary_color;
        margin-top:10%;
        font-weight: 200;
    }
    h1{
        margin: 0px;
    }
}

p{
    
    text-align: center;
    color: $primary_color;
    margin-right: 8%;
    margin-left: 8%;
    color: $text-color;

}



#submit{

    background: rgb(240, 156, 155);
    border-width: 0px;
    background-image: url(images/icon-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-left: -47px;
    margin-top: 32px;
    position: absolute;
    width: 46px;
    padding: 19px;
    border-radius: 17px;
    border-color: $primary_color;
    border-style: solid;

}

form{
    margin-left: 17%;
    padding: 0px;
}

input{
   
    width: 80%;
    padding-right: 15%;
    padding-left: 8px;
    border-color: rosybrown;
    border-radius: 20px;
    margin-top: 2rem;
    padding-top: 10px;
    padding-bottom: 10px;
    border-width: 1px;
    border-style: solid;
    color: $text-color;

}

input:focus{
    outline: red;
}





