$font: 'Josefin Sans';

*{
    font-family: $font;
    box-sizing: border-box;
    background-color:white;
}

html, body{
    height: 100%;
    min-height: 100%;
    margin: 0%;
}

img{
    background-color: white;
}


.hero_mobile{
    object-fit: fill;
    width: 100%;
}

.nav{
    
    display: flex;
    height: 9%;
    justify-items: center;
    flex-direction: column;
    background-color: white;

}

.logo{
   
width: 29%;
height: 30%;
margin-top: auto;
margin-bottom: auto;
margin-left: 6%;
    
}

.coming_soon{
    
    letter-spacing: 0.117em;
    font-size: large;
    text-align: center;
    font-weight: 100;
    font-size: 30px;
    .heading_unique{
        color: rosybrown;
        margin-top:10%;
        font-weight: 200;
    }
    h1{
        margin: 0px;
    }
}

p{
    text-align: center;
    color: rosybrown;
    margin-right: 8%;
    margin-left: 8%;
}



#submit{

    background: rgb(240, 156, 155);
    border-width: 0px;
    background-image: url(images/icon-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-left: -47px;
    margin-top: 32px;
    position: absolute;
    width: 46px;
    padding: 19px;
    border-radius: 17px;
    border-color: rosybrown;
    border-style: solid;

}

form{
    margin-left: 17%;
    padding: 0px;
}

input{
    width: 80%;
    padding-right: 7%;
    padding-left: 5px;
    border-color: rosybrown;
    border-radius: 20px;
    margin-top: 2rem;
    padding-top: 10px;
    padding-bottom: 10px;
    border-width: 1px;
    border-color: rgb(240, 156, 155);
    border-style: solid;

}

input:focus{
    outline: red;
}



